@charset "UTF-8";

body {
    background-color: #DABEBE; 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

section#jogo {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    
}

section#jogo div.casa {
    width: 100px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

#c1, #c2, #c3, #c4, #c5, #c6 {
    border-bottom: 3px solid black;
}

#c1, #c2, #c4, #c5, #c7, #c8 {
    border-right: 3px solid black;
}

section#res input {
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #dcb4b4;
}